html, body {
  margin: 0px;
  height: 100%;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 230px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";
		background-color: #fff;
		color: #444;
	}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}

.divtext {
    border: ridge 2px;
    padding: 5px;
    width: auto;
	min-width: 100px;
    min-height: 5em;
    overflow: auto;
}
.ruler{
	border: ridge 1px black;
	height: 3.5rem;
	max-height:3.5rem ;
	min-width: 10rem;
	max-width: 40rem;
	z-index: 100;
	position: absolute;;
	background-image: url("assets/drawing-ruler.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}
.ruler:hover{
	cursor: all-scroll;
}
#canvasParent{
	position: relative;
	overflow: hidden;
}

